<nav class="navbar navbar-expand-lg .bg-body mid">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse fm" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/home"><i class="fa-solid fa-clipboard-list fa-xl"></i> &nbsp;TaskHive</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/allTasks" >All Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add">Add Tasks</a>
                </li>
            </ul>
            <form class="d-flex" role="search" method="get" action="/check">
                <input class="form-control me-2" type="search" placeholder="Search Tasks" aria-label="Search" name="search" />
                <button class="btn btn-outline-light sch" type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>
</nav>