body {
	font-family: "Plus Jakarta Sans", sans-serif !important;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: rgb(179, 187, 225) !important;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.dashboard {
	display: flex;
	height: 80vh;
	border-radius: 10px;
	text-align: center;
	background-color: rgb(255, 255, 255);
}
.dashboard-add {
	display: flex;
	height: 80vh;
	border-radius: 10px;
	text-align: flex-start;
	background-color: rgb(255, 255, 255);
}
.dashboard-show{
	display: flex;
	height: 80vh;
	border-radius: 10px;
	text-align: flex-start;
	background-color: rgb(255, 255, 255);
}

.container-fluid {
	margin-bottom: 10px;
	height: 30px !important;
	display: flex;
	flex-direction: row !important;
	justify-content: space-around !important;
}

.left-container {
	background-color: rgb(247, 245, 245);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding: 20px; /* Adjust padding as needed */
	width: 12vw;
	display: flex;
	flex-direction: column;
}
.button-container {
	display: flex;
	flex-direction: column;
	/* gap: 10px; */
}

.btn {
	background-color: rgb(247, 245, 245) !important;
	margin: white !important;
	color: black !important;
	padding: 10px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: rgb(7, 125, 175) !important;
	color: white !important;
}

.right-container {
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: flex-end; /* Align to the right */
	flex: 1; /* Use flex to make it occupy the remaining space */
	width: 15vw;
	justify-content: left !important;
}

.completed-task,
.todo-task,
.ongoing-task {
	color: white;
	height: 90px; /* Adjust height as needed */
	width: 250px;
	margin-bottom: 10px; /* Add margin between tasks */
	border-radius: 10px;
	padding: 5px;
	text-align: left;
}
.completed-task {
	background-color: black;
}
.todo-task {
	background-color: rgb(179, 187, 225);
}
.ongoing-task {
	background-color: rgb(234, 234, 234);
	color: black !important;
}

.mid-container {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	padding: 10px;
}
.heading {
	display: flex;
	flex-direction: row;
	margin-left: 3px;
}
.head {
	margin-top: 2px;
	display: flex;
	height: 20px !important;
}

.display-img {
	margin-top: 5px;
	margin-left: 15px;
	width: 400px;
	height: 243px;
	border-radius: 10px;
}

.display {
	position: relative;
	display: inline-block;
}

.lets-go-btn {
	position: absolute;
	top: 65%;
	left: 35%;
	transform: translate(-50%, -50%);
}

.black-box {
	color: white;
	background-color: #000;
	border: 1px solid #000;
	padding: 10px;
	height: 300px; /* Adjust height as needed */
	width: 400px;
	overflow-y: auto; /* Enable vertical scroll */
	border-radius: 8px;
}

.weekly-activity {
	margin-right: 6px;
	margin-bottom: 3px;
	text-align: center;
	padding: 10px;
}

.weekly-calendar {
	float: left;
	width: 50%;
}

.activities {
	color: white;
	background-color: #000;
	float: right;
	width: 50%;
}
.completed {
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	color: rgb(0, 0, 0);
	margin-left: 6px;
	padding: 10px;
	text-align: left;
}
.done-tasks {
	height: 210px;
	width: 650px;
	display: flex;
	flex-direction: column;
	background-color: dimgray;
	border-radius: 5px;

	padding: 10px;
	text-align: left;
	text-decoration: none;
}

.done-tasks::-webkit-scrollbar {
	width: 5px;
	background-color: dimgray;
	border-radius: 5px;
}

.done-tasks::-webkit-scrollbar-thumb {
	background: dimgray;
	border-radius: 5px;
}
.done-tasks a {
	text-decoration: none;
	color: aliceblue;
}
h6 {
	margin-right: 10px;
	display: inline;
	text-align: left !important;
}
h5 {
	text-align: end;
}

.day {
	height: 50px;
	width: 50px;
	border-radius: 5px;
	background-color: rgb(69, 68, 68);
	/* margin:3px; */
	padding: 10px;
}
.activity {
	height: auto;
	width: 100%;
	border-radius: 10px;
	background-color: rgb(69, 68, 68);
	margin: 3px;
	padding: 10px;
}
.activities a {
	color: aliceblue;
	text-decoration: none;
	text-align: left;
}
.black-box::-webkit-scrollbar {
	width: 10px;
	background-color: #000;
	border-radius: 10px;
}
.black-box:-webkit-scrollbar-thumb {
	background: rgb(189, 189, 189);
	border-radius: 10px;
}
.options {
	justify-content: end;
}
.f-info-links a {
	text-decoration: none;
}

i {
	margin: 2px;
	padding: 3px;
}

.btn-group input:checked + label {
	background-color: #007bff; /* Change this to your desired background color */
	color: #fff; /* Change this to your desired text color */
}

.btn-group label {
	border-color: #007bff; /* Change this to your desired border color */
	color: #007bff; /* Change this to your desired text color */
}
