<% layout("/layouts/boilerplate.ejs") %>
<body>
	<div class="dashboard-add row">
		<div class="col-8 offset-2 mt-3">
			<br />
			<h2>Add New Task</h2>
			<br />
			<form
				action="/add"
				method="post"
				novalidate
				class="needs-validation">
				<div class="mb-3">
					<label for="task" class="form-label">Task</label>
					<input
						name="task"
						id="task"
						placeholder="Enter a task "
						type="text"
						class="form-control"
						required />
					<div class="invalid-feedback">
						Please provide a valid Task.
					</div>
				</div>
				<div class="mb-3">
					<label for="date" class="form-label">Date</label>
					<input
						name="date"
						placeholder="Enter a Duration for your task"
						type="date"
						id="date"
						class="form-control"
						required />
					<div class="invalid-feedback">
						Please provide a valid date.
					</div>
				</div>
				<div class="row">
					<div class="mb-3 col-md-4">
						<label for="startTime" class="form-label"
							>Starting Time</label
						>
						<input
							name="startTime"
							placeholder="Enter a Duration for your task"
							type="time"
							id="startTime"
							class="form-control"
							required />
						<div class="invalid-feedback">
							Please provide a valid time.
						</div>
					</div>
					<div class="mb-3 col-md-8">
						<label for="endTime" class="form-label"
							>Ending Time</label
						>
						<input
							name="endTime"
							placeholder="Enter a Duration for your task"
							type="time"
							id="endTime"
							class="form-control"
							required />
						<div class="invalid-feedback">
							Please provide a valid time.
						</div>
					</div>
					
				<button class="btn btn-dark add-btn">Add</button>
			</form>
		</div>
	</div>
</body>
