<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AddForm</title>
</head>
<body>
  <h1>form</h1>
  <form action="/add" method="post">
    <label for="task">Enter Task - </label>
    <input type="text" placeholder="enter task" id="task" name="task">
    <label for="duration">Enter Duration - </label>
    <input type="number" placeholder="enter duration" id="duration" name="duration">
    <label for="date">Enter Date - </label>
    <input type="date" placeholder="enter date" id="date" name="date">
    <input type="submit">
  </form>
</body>
</html>