<% layout("/layouts/boilerplate.ejs") %>
<body>
	<div class="dashboard-add row ">
		<div class="col-8 offset-2 mt-3">
			<br />
			<h2>Add New Task</h2>
			<br />
			<form
				action="/add" method="post"
				novalidate
				class="needs-validation">
				<div class="mb-3">
					<label for="task" class="form-label">Task-</label>
					<input
						name="task"
						id="task"
						placeholder="Enter a task "
						type="text"
						class="form-control"
						required />
					<div class="invalid-feedback">
						Please provide a valid Task.
					</div>
				</div>
				<div class="mb-3">
					<label for="duration" class="form-label">Duration</label>
					<input
						name="duration"
						placeholder="Enter a Duration for your task"
						type="text"
						id="duration"
						class="form-control"
						required />
					<div class="invalid-feedback">
						Please provide a duration.
					</div>
				</div>
				<button class="btn btn-dark add-btn">Add</button>
			</form>
		</div>
	</div>
</body>
