<% layout("/layouts/boilerplate.ejs") %>
<body>
	<div class="dashboard-add row">
		<div class="col-8 offset-2">
			<br />
			<h2>Add New Task</h2>
			<br />
			<form
				action="/add" method="post"
				novalidate
				class="needs-validation">
				<div class="mb-3">
					<label for="title" class="form-label">Title</label>
					<input
						name="listing[title]"
						placeholder="Enter a title of the place"
						type="text"
						class="form-control"
						required />
					<div class="invalid-feedback">
						Please provide a valid Title.
					</div>
				</div>
				<div class="mb-3">
					<label for="description" class="form-label"
						>Description</label
					>
					<textarea
						name="listing[description]"
						type="text"
						class="form-control required">
					</textarea>
					<div class="invalid-feedback">
						Please provide a valid Description.
					</div>
				</div>
				<div class="mb-3">
					<label for="image" class="form-label">Image</label>
					<input
						name="listing[image]"
						placeholder="Enter Image url/link"
						type="text"
						class="form-control" />
				</div>
				<div class="row">
					<div class="mb-3 col-md-4">
						<label for="price" class="form-label">Price</label>
						<input
							name="listing[price]"
							placeholder="Enter the price per night"
							type="number"
							class="form-control"
							required />
						<div class="invalid-feedback">
							Please provide a valid Price.
						</div>
					</div>
					<div class="mb-3 col-md-8">
						<label for="location" class="form-label"
							>Location</label
						>
						<input
							name="listing[location]"
							placeholder="Enter the location"
							type="text"
							class="form-control"
							required />
						<div class="invalid-feedback">
							Please provide a valid Location.
						</div>
					</div>
				</div>
				<div class="mb-3">
					<label for="country" class="form-label">Country</label>
					<input
						name="listing[country]"
						placeholder="Enter the country"
						type="text"
						class="form-control"
						required />
					<div class="invalid-feedback">
						Please provide a valid Country name.
					</div>
				</div>
				<br />
				<button class="btn btn-dark add-btn">Add</button>
			</form>
		</div>
	</div>
</body>
