<% layout("/layouts/boilerplate.ejs") %>

<body>
  <div class="dashboard-add row">
    <div class="col-8 offset-2 mt-3">
      <br />
      <h2>Edit Task</h2>
      <br />
      <form action="/edit/<%= currTask._id %>" method="post" novalidate class="needs-validation">
        <div class="mb-3">
          <label for="task" class="form-label">Task-</label>
          <input
            name="task"
            id="task"
            value="<%= currTask.task %>"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please provide a valid Task.</div>
        </div>
        <div class="mb-3">
					<label for="duration" class="form-label">Date</label>
					<input
						name="duration"
						placeholder="Enter a Duration for your task"
						type="date"
						id="duration"
						class="form-control"
						required />
					<div class="invalid-feedback">
						Please provide a valid date.
					</div>
				</div>
				<div class="row">
					<div class="mb-3 col-md-4">
						<label for="duration" class="form-label"
							>Starting Time</label
						>
						<input
							name="duration"
							placeholder="Enter a Duration for your task"
							type="time"
							id="duration"
							class="form-control"
							required />
						<div class="invalid-feedback">
							Please provide a valid time.
						</div>
					</div>
					<div class="mb-3 col-md-8">
						<label for="duration" class="form-label"
							>Ending Time</label
						>
						<input
							name="duration"
							placeholder="Enter a Duration for your task"
							type="time"
							id="duration"
							class="form-control"
							required />
						<div class="invalid-feedback">
							Please provide a valid time.
						</div>
					</div>
					Repeat Task
					<div
						class="btn-group mb-3 "
						role="group"
						aria-label="Basic radio toggle button group">
						<input
							type="radio"
							class="btn-check"
							name="btnradio"
							id="btnradio1"
							autocomplete="off"
							 />
						<label class="btn .btn-outline-*" for="btnradio1"
							>Daily</label
						>

						<input
							type="radio"
							class="btn-check"
							name="btnradio"
							id="btnradio2"
							autocomplete="off" />
						<label class="btn .btn-outline-*" for="btnradio2"
							>Weekly</label
						>

						<input
							type="radio"
							class="btn-check"
							name="btnradio"
							id="btnradio3"
							autocomplete="off" />
						<label class="btn .btn-outline-*" for="btnradio3"
							>Monthly</label
						>
						<input
							type="radio"
							class="btn-check"
							name="btnradio"
							id="btnradio3"
							autocomplete="off" />
						<label class="btn .btn-outline-*" for="btnradio3"
							>Yearly</label
						>
					</div>
				</div>
        <button class="btn btn-dark add-btn">Add</button>
      </form>
    </div>
  </div>
</body>
