<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="public\css\style.css">
</head>
<style>
  .error{
    background-image: url("https://freefrontend.com/assets/img/500-error-page-html-templates/HTML-CSS-500-Internal-Error-Page.gif");
    background-size: cover;
  }
</style>
<body class="error">
  
</body>
</html>