<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="public\css\style.css">
</head>
<style>
  .error{
    background-image: url("file:///C:/Users/anirb/AppData/Local/Temp/7057ff06-3f62-48d4-99eb-413b6634c272_vcvVkGY3TouW6FvTdnsi_Paaatterns.zip.272/Paaatterns/SVG/Mataura.svg");
  }
</style>
<body class="error">
  <h1>404 Page Not Found :(</h1>
</body>
</html>