<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskHive</title>
</head> -->
<% layout("/layouts/boilerplate.ejs") %>
<body>
	<div class="dashboard">
		<div class="left-container">
			<h6>Name</h6>
			<div class="button-container">
				<div class="btn btn-primary">Home</div>
				<br />
				<div class="btn btn-primary">Tasks</div>
				<!-- Add more buttons as needed -->
			</div>
		</div>
		<h2>
			<b>Dashboard</b>
		</h2>
		<div class="right-container">
			<div class="completed-task"> <span>234</span> <br>
                Completed tasks</div>
			<div class="todo-task"> <span>34</span> <br>
                 Todo Tasks</div>
			<div class="ongoing-task"> <span>4</span> <br>
                Ongoing Tasks</div>
			<div class="Weekly Activity">Weekly Activity
				<div class="Weekly-calender"></div>
				<div class="activities"></div>
			</div>
		</div>
	</div>
</body>
<!-- </html> -->
