<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body>
    <h1>home page</h1>

    <form action="">
      <input type="text" placeholder="Write Task" />
      <button>Add Task</button>
    </form>

    <h2>Tasks -</h2>
    <div>
      <ul>
        <li>task 1</li>
        <li>task 2</li>
        <li>task 3</li>
      </ul>
    </div>
  </body>
</html>
