<% layout("/layouts/boilerplate.ejs") %>

<body>
  <div class="dashboard-add row">
    <div class="col-2 offset-1 mt-3">
      <img src="file:///C:/Users/anirb/AppData/Local/Temp/7446239b-55c9-46fb-af54-da6d616e7b29_DrawKit_0009_Transport_Illustration_Pack.zip.b29/DrawKit%20-%20Transport%20Illustration%20Pack/SVG/drawkit-transport-scene-10.svg" alt="image" class="img">
    </div>
    <div class="col-6 offset-2 mt-3 ">
      <h2>Login to TaskHive</h2>
      <form
        action="/login" 
        method="post"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="username" class="form-label">
            <i class="fas fa-user"></i> Username
          </label>
          <input
            name="username"
            id="username"
            placeholder="Enter your Username"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
            Please provide a valid username.
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">
            <i class="fas fa-lock"></i> Password
          </label>
          <input
            name="password"
            placeholder="Enter your password"
            type="password"
            id="password"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
            Please provide a valid password.
          </div>
        </div>

        <button class="btn btn-dark add-btn login-btn">
          <i class="fas fa-sign-in-alt"></i> Login
        </button>
      </form>
    </div>
  </div>
</body>
