<% layout("/layouts/boilerplate2.ejs") %>

<body>
  <div class="dashboard-add row">
    <div class="col-2 offset-1 mt-3 mb-3">
      
      <img src="https://i.imgur.com/DjW1enC.png" alt="image" class="img">
    </div>
    <br><br>
    <div class="col-6 offset-2 mt-4">
      <h1><b>Sign up to TaskHive</b></h1>
      <form
        action="/signup" 
        method="POST"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3 mt-3">
          <label for="username" class="form-label">
            <i class="fas fa-user"></i> Username
          </label>
          <input
            name="username"
            id="username"
            placeholder="Enter a unique Username"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
            Please provide a valid username.
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">
            <i class="fa-solid fa-envelope-circle-check"></i> email
          </label>
          <input
            name="email"
            placeholder="Enter a strong password"
            type="text"
            id="email"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
            Please provide a valid email.
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">
            <i class="fas fa-lock"></i> Password
          </label>
          <input
            name="password"
            placeholder="Enter a strong password"
            type="password"
            id="password"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
            Please provide a valid password.
          </div>
        </div>

        <button class="btn btn-dark add-btn login-btn">
          <i class="fas fa-sign-in-alt"></i> Signup
        </button>
      </form>
    </div>
  </div>
</body>
